@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* set the default CSS styles */
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background: #a59e9e;
}
::-webkit-scrollbar-track:hover {
  background: #c2c2c2;
}
